body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    background-color: rgb(189, 189, 66);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav {
    margin: 10px 0;
}

nav ul {
    max-width: 100%; /* Ограничиваем ширину на 100% экрана */
    padding: 0;
    overflow-x: hidden; /* Скроем всё, что выходит за пределы */
    box-sizing: border-box; /* Учитываем внутрь размеры отступов */
}

nav ul li {
    margin: 5px 10px; /* Удобные отступы между элементами */
    display: block; /* Элементы в строку */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    background-color: rgb(189, 189, 66);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out; /* Плавная анимация */
}

nav ul li a:hover {
    background-color: #ee9300; /* Изменение цвета при наведении */
    color: #ffffff;
}



main {
    display: grid;
    grid-template-columns: 1fr; 
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

aside {
    background: #e2e2e2;
    max-width: 700px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #35424a;
    padding-bottom: 10px;
    color: #35424a;
}

article {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #dcdcdc; 
    border-radius: 8px;
    background: #f9f9f9;
}

article h2 {
    color: #35424a;
}

article p:first-of-type {
    font-weight: bold; 
}

article p {
    font-size: 15px; 
    color: #000000;
}

article a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px; 
    background: #35424a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s; 
}

article a:hover {
    background: #48657a;
}

footer {
    background-color: #c6ba35;
    color: #ffffff;
    text-align: center;
    padding: 15px 0; 
}


@media (max-width: 550px) {
    nav ul {
        flex-direction: column; /* На мобильных устройствах — вертикальное меню */
        align-items: center; /* Центрируем элементы */
    }

    nav ul li {
        margin: 8px 0; /* Увеличиваем отступы между элементами для удобства касания */
    }

    nav ul li a {
        /* На мобильном увеличиваем кликабельную зону */
        font-size: 18px;
        padding: 12px 16px;
        width: 90%; /* Заполняет почти весь экран */
        text-align: center; /* Выравнивание текста по центру */
    }
}
